# dependencies
node_modules/

# downloaded packages
data/

# extracted results
results/

# build artifacts (if used in future)
dist/
*.tsbuildinfo
*.js.map

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*


.DS_Store